---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { render } from 'astro:content';

const digest = await getCollection('digest')
---

<Layout>
    <div id="wrapper">
        <h1>In the name of hues</h1>
        <h3>A weekly digest on design, engineering, and everything in between.</h3>
        <div id="digest-list">
            {digest.map(async (d, i) => {
                const { Content } = await render(d)

                return (
                    <details {...(i < 3 && { open: true })}>
                        <summary>{d.data.date} {d.data.title}</summary>
                        <Content />
                    </details>
                )
            })}
        </div>
    </div>
</Layout>

<style>
    #wrapper {
        max-width: 700px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    #wrapper > *:not(img) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #digest-list {
        margin: 3rem 0;
    }

</style>
